@model SharkFrontEnd.Models.SharkQueryModel

@{
	ViewBag.Title = "View";
}

<h2>Query</h2>

@using (Html.BeginForm())
{
	<fieldset>
		<table>
			<tr>
				<td>
					@Html.LabelFor(m => m.QueryString)
				</td>
				<td>
					@Html.TextAreaFor(m => m.QueryString)
				</td>
				<td>
					@Html.ValidationMessageFor(m => m.QueryString)
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Query" />
				</td>
			</tr>
		</table>
	</fieldset>
}

@if (Model != null && Model.QueryResultId.HasValue)
{
	<p>Query submitted. Click
	 @Html.ActionLink("here", "Index", "QueryResult", routeValues: new { queryId = Model.QueryResultId.Value }, htmlAttributes: new { id = "resultLink" })
	for the results.
	</p>
}